<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link test-only="true" href="css/test-af-brev.css" rel="stylesheet" type="text/css">

    <link href="breve.css" rel="stylesheet" type="text/css">
    <link href="css/breve-print.css" rel="stylesheet" type="text/css" media="print">

    <script src="https://www.w3schools.com/lib/w3data.js"></script>

    <style type="text/css" media="all">
    </style>

</head>

<body>
  <div content-type="text" class="b_afs">{% include "titel.html" %}</div>
  <div content-type="text" class="b_afs">{% include "brev-top.html" %}</div>
  <div content-type="text" class="b_afs">{% include "startafsnit.html" %}</div>
  <div content-type="text" class="b_afs">{% include "vaesentlige-forhold.html" %}</div>
  <div content-type="text" class="b_afs">{% include "opl-saerlige-forhold.html" %}</div>
  <div content-type="text" class="b_afs">{% include "registrerede-salg.html" %}</div>
  <div content-type="text" class="b_afs">{% include "regler-praksis.html" %}</div>
  <div content-type="text" class="b_afs">{% include "kontaktinfo.html" %}</div>
</body>
</html>
